.text1 {
    font-weight: 600;
    font-size: 17px;
    color: #7E7D88;
    margin-left: 10px;
    margin-top: 15px;
}

.text2 {
    position: absolute;
    left: 70px;
    top: 290px;
    font-weight: 800;
    font-size: 17px;
}

.text3 {
    position: absolute;
    left: 30px;
    top: 10px;
    font-family: 'Nunito';
    font-weight: 550;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text4 {
    position: absolute;
    left: 10px;
    top: 4px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
    opacity: 0.5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text5 {
    position: absolute;
    left: 30px;
    top: 110px;
    font-family: 'Nunito';
    font-weight: 550;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text6 {
    position: absolute;
    left: 10px;
    top: 6px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
    opacity: 0.5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text7 {
    position: absolute;
    left: 30px;
    top: 210px;
    font-family: 'Nunito';
    font-weight: 550;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text8 {
    position: absolute;
    left: 10px;
    top: 7px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
    opacity: 0.5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text9 {
    position: absolute;
    color: orange;
    font-weight: 600;
    font-size: 19px;
    top: 100px
}

.text10 {
    position: absolute;
    left: 1135px;
    top: 97px;
    color: orange;
    font-weight: 600;
    font-size: 19px;
}

.text11 {
    position: absolute;
    width: 76px;
    height: 36px;
    left: 72.02px;
    top: 18px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #535261;
}

.text12 {
    position: absolute;
    width: 108px;
    height: 45px;
    left: 21px;
    top: 89px;
    /* 30/30 Bold */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.text13 {
    position: absolute;
    width: 327px;
    height: 45px;
    left: 21px;
    top: 9px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 45px;
    color: #535261;
}

.text14 {
    position: absolute;
    left: 2.5%;
    right: 84.45%;
    top: 11.98%;
    bottom: 83.68%;
    /* 14/14 Reg */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-200 placeholder */
    color: #A9A9B0;
}

.text15 {
    position: absolute;
    left: 7.5%;
    right: 84.45%;
    top: 11.98%;
    bottom: 83.68%;
    /* 14/14 Reg */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-200 placeholder */
    color: #A9A9B0;
}

.text16 {
    position: absolute;
    width: 87px;
    height: 21px;
    left: 15px;
    top: -9px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #7E7D88;
}

.text17 {
    position: absolute;
    width: 87px;
    height: 21px;
    left: 15px;
    top: -9px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #7E7D88;
}

.text18 {
    position: absolute;
    width: 87px;
    height: 21px;
    left: 115px;
    top: -7px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FF7506;
}

.text19 {
    position: absolute;
    width: 87px;
    height: 21px;
    left: 115px;
    top: -7px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FF7506;
}

.text20 {
    position: absolute;
    width: 87px;
    height: 21px;
    left: 115px;
    top: -7px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #4277FF;
}

.text21 {
    position: absolute;
    width: 87px;
    height: 21px;
    left: 115px;
    top: -7px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #35C75A;
}

.text22 {
    font-weight: 600;
    font-size: 17px;
    color: #FF7506;
    margin-left: 10px;
    margin-top: 15px;
}

.text23 {
    position: absolute;
    width: 212px;
    height: 36px;
    left: 240px;
    top: 104px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;
}

.text24 {
    position: absolute;
    width: 152px;
    height: 24px;
    left: 241.97px;
    top: 156px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.text25 {
    position: absolute;
    width: 152px;
    height: 24px;
    left: 570.97px;
    top: 156px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.text26 {
    position: absolute;
    width: 152px;
    height: 24px;
    left: 1080px;
    top: 156px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.text27 {
    position: absolute;
    left: 616px;
    top: 30px;
    width: 70px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text28 {
    position: absolute;
    left: 7px;
    top: 41px;
    width: 60px;
    height: 38px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
    flex: none;
    order: 1;
    flex-grow: 0;
}

tr li {
    color: red;
    list-style-type: disc;
}

tr li span {
    color: black;
}

.li {
    color: #35C75A;
    list-style-type: disc;
}

.span {
    color: black;
}

.text29 {
    position: absolute;
    width: 169px;
    height: 36px;
    left: 243px;
    top: 104px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;
}

.text30 {
    position: absolute;
    width: 160px;
    height: 30px;
    left: 24px;
    top: 16px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}

.text31 {
    position: absolute;
    left: 30px;
    top: 63px;
    width: 90px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text31 span {
    color: red;
}

.text32 {
    position: absolute;
    left: 30px;
    top: 162px;
    width: 120px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text32 span {
    color: red;
}

.text33 {
    position: absolute;
    left: 30px;
    top: 255px;
    width: 120px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text33 span {
    color: red;
}

.text34 {
    position: absolute;
    left: 30px;
    top: 348px;
    width: 125px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text34 span {
    color: red;
}

.text35 {
    position: absolute;
    left: 594px;
    top: 63px;
    width: 106px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text35 span {
    color: red;
}

.text36 {
    position: absolute;
    left: 594px;
    top: 162px;
    width: 118px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text36 span {
    color: red;
}

.text37 {
    position: absolute;
    left: 594px;
    top: 255px;
    width: 118px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text37 span {
    color: red;
}

.text38 {
    color: #FF9138;
}

.text39 {
    position: absolute;
    width: 169px;
    height: 36px;
    left: 246px;
    top: 102px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;
}

.text40 {
    position: absolute;
    width: 72px;
    height: 36px;
    left: 7px;
    top: 46px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.text41 {
    position: absolute;
    width: 160px;
    height: 30px;
    left: 270px;
    top: 180px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}

.text42 {
    position: absolute;
    left: 272px;
    top: 233px;
    width: 81px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text43 {
    position: absolute;
    left: 272px;
    top: 276px;
    width: 85px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text44 {
    position: absolute;
    left: 272px;
    top: 320px;
    width: 85px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text45 {
    position: absolute;
    left: 272px;
    top: 364px;
    width: 117px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text46 {
    position: absolute;
    width: 54px;
    height: 24px;
    left: 383px;
    top: 233px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text47 {
    position: absolute;
    width: 54px;
    height: 24px;
    left: 383px;
    top: 276px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text48 {
    position: absolute;
    width: 60px;
    height: 24px;
    left: 383px;
    top: 320px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text49 {
    position: absolute;
    left: 790px;
    top: 233px;
    width: 90px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text50 {
    position: absolute;
    left: 790px;
    top: 276px;
    width: 110px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text51 {
    position: absolute;
    left: 790px;
    top: 320px;
    width: 110px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text52 {
    position: absolute;
    width: 54px;
    height: 24px;
    left: 927px;
    top: 233px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text53 {
    position: absolute;
    width: 54px;
    height: 24px;
    left: 927px;
    top: 276px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text54 {
    position: absolute;
    width: 54px;
    height: 24px;
    left: 927px;
    top: 320px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text55 {
    position: absolute;
    width: 730px;
    height: 25px;
    left: 274px;
    top: 398px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text56 {
    position: absolute;
    width: 730px;
    height: 25px;
    left: 31px;
    top: 75px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text56 span {
    color: red;
}

.text57 {
    position: absolute;
    width: 730px;
    height: 25px;
    left: 31px;
    top: 178px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text57 span {
    color: red;
}

.text58 {
    position: absolute;
    width: 730px;
    height: 25px;
    left: 651px;
    top: 75px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text59 {
    position: absolute;
    width: 160px;
    height: 30px;
    left: 30px;
    top: 288px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}

.text60 {
    position: absolute;
    width: 730px;
    height: 25px;
    left: 69px;
    top: 325px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text61 {
    position: absolute;
    width: 70px;
    height: 40px;
    left: 194px;
    top: 319px;
    background: #FFFFFF;
    border: 2px solid #D4D4D7;
    border-radius: 8px;
}

.text61 span {
    position: absolute;
    left: 17px;
    top: 6px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}

.text60 span {
    position: absolute;
    left: 215px;
}

.text62 {
    position: absolute;
    width: 70px;
    height: 42px;
    left: 328px;
    top: 318px;
    background: #FFFFFF;
    border: 2px solid #D4D4D7;
    border-radius: 8px;
}

.text62 span {
    position: absolute;
    left: 17px;
    top: 6px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}

.text63 {
    position: absolute;
    width: 730px;
    height: 25px;
    left: 69px;
    top: 376px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text64 {
    position: absolute;
    width: 70px;
    height: 40px;
    left: 194px;
    top: 370px;
    background: #FFFFFF;
    border: 2px solid #D4D4D7;
    border-radius: 8px;
}

.text64 span {
    position: absolute;
    left: 17px;
    top: 6px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}

.text65 {
    position: absolute;
    width: 730px;
    height: 25px;
    left: 69px;
    top: 428px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text66 {
    position: absolute;
    width: 70px;
    height: 40px;
    left: 194px;
    top: 420px;
    background: #FFFFFF;
    border: 2px solid #D4D4D7;
    border-radius: 8px;
}

.text66 span {
    position: absolute;
    left: 17px;
    top: 6px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}

.text67 {
    position: absolute;
    width: 730px;
    height: 25px;
    left: 69px;
    top: 466px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text68 {
    position: absolute;
    width: 152px;
    height: 24px;
    left: 433.97px;
    top: 156px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.text69 {
    position: absolute;
    width: 152px;
    height: 24px;
    left: 732px;
    top: 156px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.text70 {
    position: absolute;
    width: 162px;
    height: 30px;
    left: 16px;
    top: 16px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}

.text71 {
    position: absolute;
    width: 90px;
    height: 24px;
    left: 18px;
    top: 58px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.text71 span {
    position: absolute;
    width: 29px;
    height: 24px;
    left: 93px;
    top: 1px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text72 {
    position: absolute;
    width: 90px;
    height: 24px;
    left: 18px;
    top: 96px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.text72 span {
    position: absolute;
    width: 105px;
    height: 24px;
    left: 93px;
    top: 1px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text73 {
    position: absolute;
    width: 90px;
    height: 24px;
    left: 18px;
    top: 134px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.text73 span {
    position: absolute;
    width: 172px;
    height: 24px;
    left: 93px;
    top: 1px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text74 {
    position: absolute;
    width: 162px;
    height: 30px;
    left: 16px;
    top: 173px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}

.text75 {
    position: absolute;
    width: 100px;
    height: 24px;
    left: 18px;
    top: 218px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.text76 {
    position: absolute;
    width: 67px;
    height: 40px;
    left: 105px;
    top: -6px;
    background: #FFFFFF;
    border: 2px solid #D4D4D7;
    border-radius: 8px;
}

.text75 span {
    position: absolute;
    width: 100px;
    height: 24px;
    left: 187px;
    top: 2px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.text77 {
    position: absolute;
    width: 100px;
    height: 24px;
    left: 141px;
    top: 220px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}

.text78 {
    position: absolute;
    width: 67px;
    height: 40px;
    left: 242px;
    top: 211px;
    background: #FFFFFF;
    border: 2px solid #D4D4D7;
    border-radius: 8px;
}

.text79 {
    position: absolute;
    width: 100px;
    height: 24px;
    left: 18px;
    top: 7px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}

.text80 {
    position: absolute;
    width: 100px;
    height: 24px;
    left: 18px;
    top: 280px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.text81 {
    position: absolute;
    width: 100px;
    height: 24px;
    left: 141px;
    top: 282px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}

.text82 {
    position: absolute;
    width: 105px;
    height: 24px;
    left: 18px;
    top: 331px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.text83 {
    position: absolute;
    left: 6px;
    top: 46px;
    width: 72px;
    height: 38px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
}

.text84 {
    position: absolute;
    width: 152px;
    height: 24px;
    left: 415.97px;
    top: 156px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.text85 {
    position: absolute;
    width: 152px;
    height: 24px;
    left: 590.97px;
    top: 156px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.text86 {
    position: absolute;
    width: 152px;
    height: 24px;
    left: 762.97px;
    top: 156px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.text87 {
    position: absolute;
    width: 163px;
    height: 36px;
    left: 244px;
    top: 104px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FF7506;
}

.text88 {
    position: absolute;
    width: 170px;
    height: 36px;
    left: 520px;
    top: 30px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #FF7506;
}

.text89 {
    position: absolute;
    width: 265px;
    height: 30px;
    left: 470px;
    top: 92px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #535261;
}

.text90 {
    position: absolute;
    width: 155px;
    height: 30px;
    left: 24px;
    top: 16px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}

.text91 {
    position: absolute;
    width: 53px;
    height: 24px;
    left: 24px;
    top: 66px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.text92 {
    position: absolute;
    width: 90px;
    height: 24px;
    left: 24px;
    top: 106px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.text93 {
    position: absolute;
    width: 90px;
    height: 24px;
    left: 24px;
    top: 146px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.text94 {
    position: absolute;
    width: 100px;
    height: 24px;
    left: 24px;
    top: 186px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.text95 {
    position: absolute;
    width: 100px;
    height: 24px;
    left: 24px;
    top: 226px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.text96 {
    position: absolute;
    width: 83px;
    height: 24px;
    left: 568px;
    top: 66px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.text97 {
    position: absolute;
    width: 83px;
    height: 24px;
    left: 568px;
    top: 106px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.text98 {
    position: absolute;
    width: 100px;
    height: 24px;
    left: 568px;
    top: 146px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.text99 {
    position: absolute;
    width: 100px;
    height: 24px;
    left: 568px;
    top: 186px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.text100 {
    position: absolute;
    width: 110px;
    height: 24px;
    left: 150px;
    top: 66px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text101 {
    position: absolute;
    width: 110px;
    height: 24px;
    left: 150px;
    top: 106px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text102 {
    position: absolute;
    width: 110px;
    height: 24px;
    left: 150px;
    top: 146px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text103 {
    position: absolute;
    width: 110px;
    height: 24px;
    left: 150px;
    top: 186px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text104 {
    position: absolute;
    width: 110px;
    height: 24px;
    left: 150px;
    top: 186px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text104 {
    position: absolute;
    width: 110px;
    height: 24px;
    left: 150px;
    top: 226px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text105 {
    position: absolute;
    width: 120px;
    height: 24px;
    left: 691px;
    top: 66px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text106 {
    position: absolute;
    width: 120px;
    height: 24px;
    left: 691px;
    top: 106px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text107 {
    position: absolute;
    width: 120px;
    height: 24px;
    left: 691px;
    top: 146px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text108 {
    position: absolute;
    width: 120px;
    height: 24px;
    left: 691px;
    top: 186px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.text109 {
    position: absolute;
    width: 152px;
    height: 24px;
    left: 255.97px;
    top: 156px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}
